* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(174, 38, 14);
    position: relative;
}

/*== NAVBAR==*/

.navbar {
    position: fixed;
    top: 0;
    background-color: beige;
    border-bottom: 1px solid wheat;
    width: 100%;
    height: 70px;
    padding-bottom: 0px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar img {
    height: 100%;
}

.navbar h1 {
    color: black;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 32px;
}

.navbar-menu a {
    text-decoration: none;
    color: orange;
    font-size: 16px;
    font-weight: 500;
}

/*=== HERO ===*/
.hero {
    padding: 80px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-left h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 52px;
    font-weight: 800;
    color: gold;
    line-height: 1.1;

}

.hero-left p {
    font-size: 16px;
    color: rgb(234, 208, 231);
    line-height: 1.7;
    max-width: 420px;

}

.btn {
    width: fit-content;
    background-color: rgb(236, 227, 100);
    color: rgb(163, 39, 174);
    text-decoration: none;
    padding: 14px 32px;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 600;
}

.hero img {
    width: 480px;
    height: 460px;
    object-fit: cover;
    border-radius: 24px;
}

/*== BOOKS ==*/

.books {
    padding: 60px 60px;
}

.books h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 800;
    color: black;
}

.books h2 span {
    color: gold;
}

.books > p {
    font-size: 16px;
    color: beige;
    margin-top: 12px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 40px;
}

.card {
    background-color: beige;
    border-radius: 16px;
    padding: 24px;
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: contain;
}

.card h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: black;
    text-align: center;
}

.card button {
    background: none;
    border: none;
    color: gold;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    margin-top: 4px;
}

/* == FOOTER ==*/

footer {
    background-color: #004151;
    padding: 40px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-left img {
    height: 100px;
    width: 100px;
}

.footer-left p {
    font-size: 14px;
    color:  #aaaaaa;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.footer-right h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.social-icons {
    display: flex;
    gap: 16px;
}

.social-icons img {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    width: 32px;
    height: 32px;
}
    